body{
    background: darkgrey;
}

.error {
    color:red;
    font-size: 0.875em;
}

.Vegan{
    background-color:#446418;
}

.High Protein{
    background-color:#7d3f0f;
}

.Dairy{
    background-color:#c2b280;
}

.Gluten{
    background-color:#FFC619;
}

.Kosher{
    background-color:#36b9cc;
}

.Vegetarian{
    background-color:#96b753;
}

.Prescretarian{
    background-color:#fa8072;
}


input:invalid {
    border: 2px solid red;
}

input:invalid:required {
    background-image: linear-gradient(to right, white, lightgrey);
}

input:valid {
    border: 2px solid green;
}

.bg-register-image {
    background: url("/img/kenyaLogPic.jpg");
}

/*
    Start - Accordion Example Styles
 */

.input-group {
    margin-top: 20px;
    margin-bottom: 10px;
}

.searchImage {
    width: 75%;
    height: auto;
}

.searchSubHeading {
    color: #5386E4;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.panel {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, .9)!important;
    border: solid 2px #ccc;
}

.panel-heading {
    background-color: #8AFFDF!important;
}

#accordion_search_bar {
    border: solid 2px #ccc;
}

.btn-default {
    border: solid 1.5px #ccc;
}

.fa-search {
    font-size: 1.3em;
}

.fa-paw {
    font-size: 1.4em;
    color: #6B7F7A;
}
/*
    End - Accordion Example Styles
 */

td.details-control {
    background: url('/img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/img/details_close.png') no-repeat center center;
}


